@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Old Standard TT", serif;
  color: #212121;
}

a {
  font-family: "Bebas Neue", sans-serif;
}

.bebas {
  font-family: "Bebas Neue", sans-serif;
}